[flake8]
max-line-length = 100

# E501 is the "Line too long" error. We disable it because we use Black for
# code formatting. Black makes a best effort to keep lines under the max
# length, but can go over in some cases.
# E203: Whitespace before ':'. Conflicts with black formatting.
# E231: Missing whitespace after ',', ';', or ':'. Conflicts with black formatting.
# W503: Line break occurred before a binary operator. Conflicts with black formatting.
ignore = E501, E203, E231, W503
