[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
pillow = "*"
pydicom = ">=1.1.0"
requests = "*"
retrying = "*"
tqdm = "*"
opencv-python ="*"
scikit-image = "*"

[dev-packages]
black = "==18.9b0"
keras = ">=2.2.0"
pycodestyle = "*"
jupyter = "*"
notebook = "*"
pytest = "*"
tensorflow-gpu = ">=1.9.0"

[requires]
python_version = "3.6"
