[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "*"
matplotlib = "*"
numpy = "*"
opencv-python ="*"
pandas = "*"
pillow = "*"
pydicom = ">=1.1.0"
requests = "*"
retrying = "*"
scikit-image = "*"
tqdm = "*"

[dev-packages]
black = "==18.9b0"
jupyter = "*"
keras = ">=2.2.0"
notebook = "*"
pycodestyle = "*"
pytest = "*"
tensorflow-gpu = ">=1.9.0"

[requires]
python_version = "3.6"
