[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "*"
matplotlib = "*"
numpy = "*"
opencv-python ="*"
pandas = "*"
pillow = "*"
pydicom = "*"
requests = "*"
retrying = "*"
scikit-image = "*"
tqdm = "*"

[dev-packages]
black = "==18.9b0"
pycodestyle = "*"
pytest = "*"

[requires]
python_version = "3.6"
