[tool.black]
line-length = 100

[tool.poetry]
name = "mdai-client-py"
version = "0.7.8"
description = "MD.ai Python client library"
authors = ["MD.ai"]

[tool.poetry.dependencies]
python = ">=3.7"
arrow = "*"
matplotlib = "*"
nibabel = "*"
numpy = "*"
opencv-python ="*"
pandas = "*"
pillow = "*"
pydicom = "*"
requests = "*"
retrying = "*"
scikit-image = "*"
tqdm = "*"
dicom2nifti = "*"

[tool.poetry.dev-dependencies]
black = "==19.10b0"
flake8 = "*"
pytest = "*"
sphinx = "^2.2"
recommonmark = "^0.6.0"

[build-system]
requires = ["poetry>=1.0.0"]
build-backend = "poetry.masonry.api"
